div{
    width: 100%;
    color:#FF6060;
    text-align: center;
}
h1{
    font-size: 13em;
    margin-bottom: 0;
    font-family: 'montserrat';
}

.oups{
    margin-top: 5%;
    font-size: 1.8em;
    font-family: 'montserrat';
    margin-bottom: 15%;
}

.err-link{
    
    color: #FF6060;
    font-family: 'montserrat';
}

@media screen and (max-width: 376px){
    h1{
        font-size: 96px;
        margin-top: 40%;
    }
    .oups{
        font-size: 18px;
    }

    .err-link{
        font-size: 12px;
    }
}